@model DataLibrary.Models.CastModel

@{
    ViewBag.Title = "Limit_Exceeded";
    Layout = "~/Views/Shared/user.cshtml";
}

<h2>Issue_DVD_Post</h2>

<p>Number of books that can be issued exceeded!!!</p>
<div>
    @Html.ActionLink("Main", "Main")
</div>
